@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply p-0 m-0 box-border;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts.TIEMPOSHEADLINE-REGULARITALIC_0.OTF");
}

.tiempos {
  font-family: "Tiempos Headline", serif;
}

#hero__h1 {
  font-size: clamp(20px, 5vw, 500px);
}

#hero__bio {
  font-size: clamp(12px, 1.2vw, 24px);
  line-height: 1.5;
}

.hero__status {
  font-size: clamp(12px, 1vw, 20px);
}

.hero__p {
  font-size: clamp(12px, 1.2vw, 32px);
}

.hero__button {
  font-size: clamp(12px, 1.2vw, 20px);
}

#skills__h2 {
  font-size: clamp(20px, 5.5vw, 500px);
}

#skills__p {
  font-size: clamp(20px, 2vw, 96px);
  line-height: 1.2;
}

.slider-container {
  @apply fixed bottom-0 bg-lime-green py-4 md:py-6;
}

.slider {
  @apply relative whitespace-nowrap flex;
}

.slider p {
  @apply m-0 text-cod-gray flex gap-6 items-center;
  font-size: clamp(14px, 1.6vw, 32px);
}

.slider p:nth-of-type(2) {
  @apply absolute left-full;
}

#menu-button:hover .menu-bar-top {
  @apply translate-y-[320%];
}
#menu-button:hover .menu-bar-bottom {
  @apply -translate-y-[320%];
}

.menu-link {
  @apply text-cod-gray text-3xl hover:text-clay-toff transition-colors duration-300;
}

#about-name {
  font-size: clamp(20px, 5.5vw, 500px);
}
.about-text {
  font-size: clamp(12px, 0.8vw, 16px);
}

@media screen and (max-width: 1024px) {
  #about-name {
    font-size: clamp(20px, 9.2vw, 500px);
  }
  .about-text {
    font-size: clamp(12px, 2.8vw, 14px);
  }
}

/* WEBKIT */
::-webkit-scrollbar {
  @apply hidden;
}

::-webkit-scrollbar-thumb {
  @apply bg-demo-smoke rounded-md mx-2;
}
